<!DOCTYPE html>
<html>
  <head>
    <title>TerryX Home</title>
    <meta charset="UTF-8">
    <meta name="robots" content="noodp,noydir" />
    <meta name="description" content="TerryX Life is a personal website of Terry Yuen who is a passionate web developer." />
    <meta name="keywords" content="Terry, Terry Life, Terry Yuen, TerryX, terryxlife, social networking, personal blog" />
    <meta name="author" content="Terry Yuen Wai Hoe" />
    <link rel="shortcut icon" href="global/img/favicon.png" />
    <link rel="stylesheet" href="global/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="global/css/common.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="global/css/green_form.css" type="text/css" media="screen" />

    <script type="text/javascript" src="global/js/jquery.js"></script>
    <script type="text/javascript" src="global/js/v/home.js"></script>

  </head>
  <body>
    <div id="loader"></div>
    <div id="header">
      <div id="logo"></div>