<div id="content">
    <div id="login">
        <form id="login_form" class="green_form">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" /><br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" /><br>
            <input type="submit" value="Login" /> or <a href="#">Join Us</a>

        </form>
    </div>
    <div id="login_message"></div>
    <div class="clear"></div>
